<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.study.shardingsphere.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.xyz.study.shardingsphere.domain.User">
        <!--@mbg.generated-->
        <!--@Table t_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_name, `password`, nickname, phone, mail, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xyz.study.shardingsphere.domain.User"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_user (user_name, `password`, nickname,
                            phone, mail, create_time,
                            update_time)
        values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT},
                #{updateTime,jdbcType=BIGINT})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.xyz.study.shardingsphere.domain.User">
        <!--@mbg.generated-->
        update t_user
        set user_name   = #{userName,jdbcType=VARCHAR},
            `password`  = #{password,jdbcType=VARCHAR},
            nickname    = #{nickname,jdbcType=VARCHAR},
            phone       = #{phone,jdbcType=VARCHAR},
            mail        = #{mail,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>